<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #countryForm="ngForm">
      <div class="form-group">
        <label for="name">Country Name</label>
        <input type="text" [(ngModel)]="countryInput.name" 
          class="form-control" id="name" name="name" placeholder="Enter the country name"
          required #name="ngModel">
      </div>
      <div class="form-group">
        <label for="population">Country Population</label>
        <input type="text" [(ngModel)]="countryInput.population"
          class="form-control" id="population" name="population" placeholder="Enter the country population"
          required #population="ngModel">
      </div>
      <button type="submit" [disabled]="!countryForm.form.valid" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
